
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<QuanLyNhaThuoc.Areas.KhachHang.Models.ProductViewModel>

<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <img src="@product.HinhAnhDauTien ?? " no-image.jpg"" alt="@product.TenThuoc ?? " No name"" class="product-image" />
            <h4>@product.TenThuoc ?? "No name"</h4>
            <p>Đơn giá: @product.DonGia</p>
            <p>Đơn vị: @product.DonVi ?? "N/A"</p>
        </div>
    }
</div>

