@model IEnumerable<QuanLyNhaThuoc.Models.ChiTietPn>

<div class="container">
    <h3>Chi tiết phiếu nhập: @ViewBag.MaPhieuNhap</h3>

    <!-- Hiển thị thông báo -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    <form method="post" asp-action="ThucHien">
        <input type="hidden" name="maPhieuNhap" value="@ViewBag.MaPhieuNhap" />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 8%;">Mã Thuốc</th>
                    <th style="width: 30%;">Tên Thuốc</th>
                    <th style="width: 8%;">Số Lượng</th>
                    <th style="width: 10%;">Đơn Giá</th>
                    <th style="width: 15%;">Số Lượng Tồn Hiện Tại</th>
                    <th style="width: 10%;">Trạng Thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaThuoc</td>
                        <td>@item.MaThuocNavigation.TenThuoc</td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonGiaXuat.ToString("N0") VNĐ</td>
                        <td>@item.MaTonKhoNavigation?.SoLuongTon</td>
                        <td>
                            @if (item.TrangThai == null)
                            {
                                <span>Chưa xác nhận</span>
                                <div>
                                    <label>
                                        <input type="radio" name="TrangThai_@item.MaChiTietPn" value="true" /> Xác nhận
                                    </label>
                                    <label>
                                        <input type="radio" name="TrangThai_@item.MaChiTietPn" value="false" /> Trả hàng
                                    </label>
                                </div>
                            }
                            else if (item.TrangThai == true)
                            {
                                <span>Đã xác nhận</span>
                            }
                            else
                            {
                                <span>Đã trả hàng</span>
                            }
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <button type="submit" class="btn btn-success">
            <i class="bi bi-check-circle"></i> Lưu
        </button>
    </form>

    <a asp-action="Index" class="btn btn-secondary mt-3">Quay lại</a>
</div>
