@model IEnumerable<QuanLyNhaThuoc.Models.DanhMuc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã Danh Mục
            </th>
            <th>
                Tên Danh Mục
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDanhMuc)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDanhMuc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDanhMuc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDanhMuc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
